.link {
    fill: none;
    stroke-width: 1.5px;
    stroke: #999;
    stroke-opacity: .6;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

circle {
    fill: #B7D8FF;
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    text-baseline: middle;
    text-anchor: middle;
    font: 14px sans-serif;
    /*pointer-events: none;*/
    text-shadow: 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000;
}

text a {
    fill: white;
}

text a:visited {
    fill: darkpurple;
}

text a:hover,
text a:active {
    text-decoration: underline;
    fill: lightblue;
}
