<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="-1">

  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/graph.css') }}">
    <script src="{{ url_for('static', filename='lib/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/Please-compressed.js') }}"></script>

    <!-- Bootstrap from CDN -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- end Bootstrap -->
    <title>{% block title %}{% endblock %} - Subredditor</title>
    {% endblock %}

  </head>

  <body>
    <div id="content" class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>

    <br />
    {% include 'footer.html' %}
  </body>

</html>
