<!doctype html>

<title>Subreddit Recommender</title>
<meta charset=utf-8>

<form action="graph">
    <fieldset>
        <legend>Graph Search:</legend>
        Seed subreddit:
        <input type="text" name="seed" value="programming">
        <br> Breadth limit:
        <input type="text" name="breadth" value="3">
        <br> Depth limit:
        <input type="text" name="depth" value="4">
        <br>
        <input type="checkbox" name="nsfw" value="true"> NSFW
        <br>
        <br>
        <input type="submit" value="Submit">
    </fieldset>
</form>
