<!doctype html>

<title>Subreddit Recommender</title>
<meta charset=utf-8>

<script type="text/javascript">
    function showValue(id, newValue) {
        document.getElementById(id).innerHTML = newValue;
    }
</script>

<form action="graph">
    <fieldset>
        <legend>Graph Search:</legend>
        Topic:
        <input type="text" name="seed" value="programming">&emsp;&emsp; Depth limit:
        <input name="depth" type="range" min="1" max="5" value="3" step="1" onchange="showValue('depth', this.value)" />
        <span id="depth">3</span>&emsp;&emsp;NSFW:
        <input type="checkbox" name="nsfw" value="true">&emsp;&emsp;
        <input type="submit" value="Submit">
    </fieldset>
</form>
